resource "aci_bridge_domain" "bridge_domain" {
  tenant_dn = "${aci_tenant.tenant.id}"
  name = "{{ epg_name }}"
  relation_fv_rs_ctx = "${aci_vrf.vrf.name}"
}

resource "aci_subnet" "subnet" {
  bridge_domain_dn = "${aci_bridge_domain.bridge_domain.id}"
  ip = "{{ ip_with_cidr_subnet }}"
}

resource "aci_application_epg" "epg" {
  application_profile_dn  = "${aci_application_profile.app_profile.id}"
  name = "{{ epg_name }}"
  relation_fv_rs_bd = "${aci_bridge_domain.bridge_domain.name}"
}